.contenedor{
    display: flex;
    flex-direction: column;
}



.contenedor .contador {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 30px;
}

.infodata{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    font-family: Arial;
}

.user{
 display: flex;
 flex-direction: row;
}

.datos{
    display: flex;
    justify-content: center;
}

