.contenedor{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.formtitle h1{
  margin: 16px;
}

.formulario{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    background-color: white;
    border : 1px solid;
    border-radius: 15px;
  }
      
    form > div {
      display: flex;
      margin: 10px 0;
    }
    
     form > div > div {
      width: 50%;
      
    }
    form > div > div:last-child {
        display:flex;
        justify-content: center;
    }
    
    .boton{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
    