<nav color="primary">
  <mat-drawer-container class="example-container" >
    <mat-drawer #drawer [mode]="mode.value"></mat-drawer>
    <mat-drawer-content>
      <mat-form-field appearance="fill" >
        <mat-label >Escoger opción</mat-label>
        <mat-select #mode value="side">
          <mat-option class='opciones' value="Mostrar datos" ><a  routerLink='/pagina-inicio' >Mostrar datos</a></mat-option>
          <mat-option class='opciones' value="Mostrar formulario"><a  routerLink='/formulario' >Mostrar formulario</a></mat-option>
        </mat-select>
      </mat-form-field>
    </mat-drawer-content>
  </mat-drawer-container>
    <div>
      <!--
      <ul class="menu">
        <li class="item"><a routerLink='/pagina-inicio' routerLinkActive="activo">Mostrar datos</a></li>
        <li class="item"><a routerLink='/formulario' routerLinkActive="activo">Mostrar formulario</a></li>
      </ul>
      -->

    </div>
    <div class='contador'>
      <div>
        <mat-icon matBadge={{contador}} matBadgeColor="primary">home</mat-icon>
      </div>
      <div>
        <mat-icon matBadge={{contador2}} matBadgeColor="primary">home</mat-icon>
      </div>
    </div>
</nav>