<h1>Formulario</h1>

<div class='contenedor'>
    <div>
        <form [formGroup]="registerFormEstudiante">
            <div>
                <div class="enlinea1"><label>Numero horas semana</label></div>
                <div class="enlinea2"><input type="text" id="numhorsem" required="" formControlName="num_hour_week"></div>
            </div>
            <div>
                <div class="enlinea1"><label>Comentarios</label></div>
                <div class="enlinea2"><input type="text" id="comentarios" required="" formControlName="coments"></div>
            </div>
            <div>
                <div class="enlinea1"><label>Rama</label></div>
                <div class="enlinea2"><input type="text" id="rama" required="" formControlName="branch">
                </div>
            </div>
            <div>
                <div class="enlinea1"><label>Id persona</label></div>
                <div class="enlinea2"><input type="number" id="idpersona" required=""
                        formControlName="id_persona">
                </div>
            </div>
        </form>

    </div>
    <div class='botones'>
        <button mat-button (click)="onNoClick()">Quitar</button>
        <button mat-button (click)="onClick()" [disabled]="!registerFormEstudiante.valid">Enviar</button>
    </div>
</div>